/* ==========================================================================
   Flapjack Front End
   Pagination Styling
   ========================================================================== */

/* topdoc
    name: Pagination
    family: fj-pagination
    patterns:
    - name: Default pagination
      markup: |
        <nav class="pagination">
            <a class="btn btn-icon prev-page" href=""><i class="icon-chevron-left"></i> Previous</a>
            <form class="pagination-form">
                <label for="current-page">Page</label>
                <input class="current-page" id="current-page" name="current-page" type="text" value="2" />
                <label>of 149</label>
                <button class="btn btn-link page-go" id="page-go" type="submit">Go</button>
            </form>
            <a class="btn btn-icon next-page" href="">Next <i class="icon-chevron-right"></i></a>
        </nav>
    tags:
    - fj-buttons
    - fj-forms
*/

.pagination {
    display: inline-block;
    -webkit-border-radius: unit( 4px / @base-font-size-px, em );
       -moz-border-radius: unit( 4px / @base-font-size-px, em );
            border-radius: unit( 4px / @base-font-size-px, em );
    background: #E3E4E5;
    color: #75787B;
    .webfont-regular;
}

// .pagination > .btn {
//     display: inline-block;
//     padding: 0.8125em 1em;
//     margin: 0 -0.26em 0 0;
//     vertical-align: top;
//     font: 400 16px/1 "Avenir Next", Arial, sans-serif;
// }

.pagination .prev-page {
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
.pagination .next-page {
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}

.pagination-form {
    display: inline-block;
    padding: 0 4em;
    // margin-right: -0.26em;
    // vertical-align: top;
    // font-size: 16px;
}

.pagination-form > label {
    display: inline;
    font-size: 16px;
    vertical-align: middle;
}

input.current-page {
    width: 2em;
    margin: 0 0.25em;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    .webfont-demi;
    text-align: right;
}

.pagination .page-go {
    margin: 0 0 0 2em;
}

/* topdoc
  name: EOF
  eof: true
*/
